.idea/
.vs/
.vscode/
build/
cmake/open-cpp-coverage.cmake
cmake-build-*/
conan/
CMakeDeps/
prefix/
CMakeLists.txt.user
CMakeUserPresets.json
conanbuildinfo.txt
conaninfo.txt
graph_info.json
conan.lock
